body {
    background-image: url(background.jpg);
    background-size: cover;
    height: 100%; 
    width: 100%;
    text-align: center;
    align-items: center;
}

#container-transparent {
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 8%;
    margin-top: 30px;
    margin-left: 360px;
    margin-right: 220px;
    margin-bottom: 400px;
    background-color:rgba(0,0,0,0.5);
    border-radius: 20px;
    
}

img {
    margin-bottom: 5px;
    height: 30%;
    width: 30%;
    text-align: center;
    align-items: center;
}

h2 {
    margin-bottom: 3px;
    text-align: center;
    align-items: center;
    font-size: 34px; 
    font-family: serif;
    color: rgb(17, 247, 13);
    
}

#buttons-container {
  border: 5px solid rgb(18, 248, 10);
  background-color: rgb(18, 248, 10);
  padding-right: 0%;
  text-align: center;
  align-items: center;
}
  
#big-container {
    margin-top: 10px;
    text-align: left;
    color: aliceblue;
    font-family: serif;
    font-size: 28px;
}

.punto-ritrovo {
    margin-top: 8px;
    display: flex;
    text-align: center;
    font-family: serif;
    font-size: 20px;
}

.stato-carica {
    margin-top: 5px;
    display: flex;
    text-align: center;
    font-family: serif;
    font-size: 18px;
}

#carica-mono1 {
    border-radius: 5px;
    margin-top: 0;
    margin-bottom: 20px;
    background-color: rgb(240, 243, 112);
    height: 20px;
    width: 310px;
    text-align: left;
    border: 1px solid rgb(240, 243, 112);
}

#carica-mono2 {
    border-radius: 5px;
    margin-top: 0;
    margin-bottom: 20px;
    background-color: rgb(59, 195, 28);
    height: 20px;
    width: 600px;
    text-align: left;
    border: 1px solid rgb(59, 195, 28);
}

#carica-mono3 {
    border-radius: 5px;
    margin-top: 0;
    margin-bottom: 20px;
    background-color: rgb(216, 64, 64);
    height: 20px;
    width: 140px;
    text-align: left;
    border: 1px solid rgb(226, 29, 29);
}